<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/testdb</property>
        <property name="connection.username">testuser</property>
        <property name="connection.password">123_vinod</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>

		<mapping class="com.vk.inviteweb.datalayer.model.User"/>
		<mapping class="com.vk.inviteweb.datalayer.model.Event"/>
		<mapping class="com.vk.inviteweb.datalayer.model.UserEvent"/>
		
		<mapping class="instavans.models.Porter"/>
		<mapping class="instavans.models.Job"/>
		<mapping class="instavans.models.Job_Porter"/>
		
		<mapping class="instavans.models.Place"/>
		<mapping class="instavans.models.Images"/>
		<mapping class="instavans.models.Comments"/>
		<mapping class="instavans.models.Categories"/>
	</session-factory>
</hibernate-configuration>